{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h2>Page id: {{var page_id}}</h2>
            <h2>Page title: {{var title}}</h2>
            <a href="{{var link}}" target="_blank">Go to Calendar</a>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}